body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 0;
    height: 100vh;
}

h1 {
    color: #444;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
}

#todo-input {
    flex: 1;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#add-button {
    padding: 15px;
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    transition: background-color 0.3s ease;
}

#add-button:hover {
    background-color: #0056b3;
}

#todo-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 500px;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.todo-item:hover {
    transform: scale(1.02);
}

.todo-item.completed {
    text-decoration: line-through;
    background-color: #e2e6ea;
    color: #6c757d;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c82333;
}
